<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://get.wallhere.com/photo/pokemon-1350823.jpg);">
  <div class="container">
    <h1>PokeRenter</h1>
    <p>rent your perfect Pokémon.</p>
    <div class="d-grid gap-2 col-6 mx-auto">
      <%= link_to "Withdraw a Pokémon", pokemons_path, class:"btn btn-outline-danger" %>
      <%= link_to "Store your Pokémon", new_pokemon_path, class:"btn btn-outline-danger" %>
    </div>
  </div>
</div>
