.card {
  width: 70%;
  margin: auto;
  display: flex;
}

.card-name {
  padding: 50px;
  text-align: center;
}

.card-content {
  display: flex;
}

.card-photo {
  padding-left: 65px;
  width: 400px;
}

.card-info {
  column-count: 2;
  position: relative;
}

.card-stats {
  padding-left: 150px;
}

.card-capacities {
  padding-left: 100px;
}

.card-nature {
  position: absolute;
  left: 210px;
  top: 200px;
}

.card-btn {
  position: absolute;
  left: 400px;
  top: 350px;
}

.card-rent {
  position: absolute;
  left: 160px;
  top: 250px;
}
