.form-inside-input{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 3px;
  justify-content: center;
  select {
    width: 96%;
  }
}

.form-card-btn {
  left: -232px;
  top: 393px;
  color: white;
  // input {
  //   background-color: rgba(255, 0, 0, 0.767);
  //   color: white;
  //   border: red;
  // }
}

.h1new {
  text-align: center;
  color: red;
}

.card-general {
  margin-top: 30px;
  border: none;
}

.card_stats {
margin-left: 10px;
}

.form-card-informations {
  padding-left: 16px
}

.form-name-input select {
  width: 95%;
}

.card-capacitie {
  margin-left: 10px;
}

.form-submit-btn {
  padding-left: 100px;
}
